.vehicle_home_header {
  margin-top: 2em;
margin-left: 1.2rem;
}

.vehicle_home_header h1 {
  margin-bottom: 0.3em;
}

.vehicle_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vehicle_card {
  width: 27%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 11px;
  cursor: pointer;
  box-shadow: 0 1px 5px 0 rgba(70,70,70,.15),0 2px 2px 0 rgba(70,70,70,.15),0 3px 2px -2px rgba(70,70,70,.15);
}

.vehicle_card:hover {
  box-shadow: 10px 15px 19px 0 rgba(70,70,70,.15),0 2px 2px 0 rgba(70,70,70,.15),0 3px 2px -2px rgba(70,70,70,.15);
}

.vehicle_card_image {
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 100%;
  margin-bottom: 0.2em;
}

.vehicle_card h3 {
  color: #000;
  margin-bottom: 0.2em;
  font-size: 1.2em;
  padding: 8px;
}

.vehicle_card p {
  margin-bottom: 0.5em;
  margin-left: 0.5rem;
}

.vehicle_card .card_price {
  font-size: 1.8rem;
}


.vehicle_card .card_button:hover {
  background-color: #2a2727;
  color: #b1abab;
}
.card_button {
  border-radius: 8px;
  color: #fff;
  background-color: #000;
  border: none;
  min-width: 100px;
  padding: 15px;
  width: 41%;
  max-height: 55px;
  cursor: pointer;
  font-size: 1.9em;
  font-weight: bold;
  text-decoration: none;

}

.card_button p {
  font-size: 1.3rem
}

.adopted_text {
  font-weight: bold;
  color: #25b456;
  padding: 15px;
}
